// Specific CSS for your home-page

h1, h2 {
  text-align: center;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1482101711228-1d205746bb02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=742&q=80);
}

.list-group {

}

.list-group-item {
}

ul, li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
}
